<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
</head>
<body>
  <!-- Header -->
  <header class="site-header">
    <div class="header-inner">
     <div class="logo-group" style="display:flex; gap:10px; align-items:center;">
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/images/Header-logo.png' | relative_url }}" alt="logo" style="height:50px;">
  </a>
</div>
      
      <nav class="site-nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/people.html' | relative_url }}">People</a>
        <a href="{{ '/1n2n-research.html' | relative_url }}">Pan lab</a>
        <a href="{{ '/GSSE-research.html' | relative_url }}">Darras lab</a>
        <a href="{{ '/publications.html' | relative_url }}">Publications</a>
        <a href="{{ '/contact.html' | relative_url }}">Contact</a>
      </nav>
    </div>
  </header>

  <!-- Main content -->
  <main class="container">
    {{ content }}
  </main>


</body>
</html>
